/* ------ Спецификация ------ */

body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-size: 15px;
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;
	line-height: 1.4em;
}
.container {
	width: 1140px;
	margin: 0 auto;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
	color: #000;
	}
u, li {
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 900;
}
h1{
	font-size: 45px;
	color: #1b3bde;
	line-height: 1.177em;
	margin-bottom: 33px;
	letter-spacing: 0.025em;
}
h2{
	font-size: 28px;
	line-height: 1.15em;
}
h4{
	font-size: 19px;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.align-items-center {
	align-items: center;
}
.text-align-center{
	text-align: center;
}

.button {
    font-weight: 900;
    color: #fff;
    background: #4acc4d;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 55px;
    border: 1px solid #4acc4d;
    border-radius: 5px;
    margin: 27px 0 14px;
}

.button:hover {
	box-shadow: 0 1px 10px rgba(0,0,0,0.8);
}

.button:active {
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
	outline: none;
}


/* ------ Первый экран ------ */

.header {
	background: #f0f7f7 url(/assets/img/ferst_bg.jpg) no-repeat center top / cover;
	
}
.navigation{
	background: #fff;
	padding: 20px 0;
	color: #fff;
}
/* ------ LOGO в navigation ------ */
.logo__content{
color: #1b3bde;
font-weight: 900;
text-transform: uppercase;
font-size: 15px;
}
.logo__icon{
	font-size: 25px;
	color: #fff;
	background: #1b3bde;
	border: 1px solid #1b3bde;
	border-radius: 5px;
	padding: 10px 14px;
    margin-right: 13px;
}
.logo__content span{
	font-size: 20px;
}

/* ------ МЕНЮ в navigation ------ */

.nav__list{
	font-size: 13px;
	margin-left: auto;
}
.nav__link{
	padding: 8px 19px;
	border-radius: 5px;
	
}
.nav__link:hover {
	background: #000;
	color: #fff;
}
/* ------ ТЕЛЕФОН в navigation ------ */
.phone{
	font-weight: bold;
	margin-left: auto;
}
.phone:hover{
	color: #4acc4d;
	box-shadow: 0 1px 10px rgba(0,0,0,0.8);
}

.offer .container{
	max-width: 995px;
}
.offer{
	box-shadow: 0 0px 9px rgb(210, 205, 205);
	padding-bottom: 135px;
	padding-top: 90px;
}
.info{
	width: 530px;
	text-align: center;
}
.info__workshop{
	font-size: 16px;
	margin-bottom: 28px;
	font-weight: 300;
}

.info__time {
    background: #000;
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;
    font-size: 14px;
    }

.reg{
	
	
	display: flex;
	text-align: center;
	
	border-radius: 5px;
}
.reg__title{
	font-size: 17px;
	text-transform: none;
	
	background: #fff;
	box-shadow: 0 1px 90px rgba(0,0,0,0.24);
	border-radius: 5px;
	margin: 25px;
    	padding: 20px;
}
.reg__text{
	margin-bottom: 15px;
	font-size: 14px;
}
.reg__text_tiny{
	font-size: 12px;
	color: #adadad;
}
input {
    border: none;
    border-bottom: solid 1px #acacac;
    width: 100%;
    padding: 15px 0;
    font-size: 13px;
}
input:focus{
	border-bottom: solid 1px #000;
}
input:focus::placeholder{
	color: #000;
}

